@model projectFrontednd.DAO.KhachHangDTO

@{
    ViewData["Title"] = "Thêm Khách Hàng";
}

<h1>Thêm Khách Hàng</h1>

<h4>Thông Tin Khách Hàng</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="maKhachHang" class="control-label"></label>
                <input asp-for="maKhachHang" class="form-control" />
                <span asp-validation-for="maKhachHang" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="hoTen" class="control-label"></label>
                <input asp-for="hoTen" class="form-control" />
                <span asp-validation-for="hoTen" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="diaChi" class="control-label"></label>
                <input asp-for="diaChi" class="form-control" />
                <span asp-validation-for="diaChi" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="soDienThoai" class="control-label"></label>
                <input asp-for="soDienThoai" class="form-control" />
                <span asp-validation-for="soDienThoai" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Tạo mới" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Quay lại danh sách</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}