@model projectFrontednd.DAO.NhanVienDAO

@{
    ViewData["Title"] = "Xóa Nhân Viên";
}

<h1>Xóa Nhân Viên</h1>

<h3>Bạn có chắc chắn muốn xóa nhân viên này?</h3>
<div>
    <h4>Thông Tin Nhân Viên</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <label>Mã nhân viên</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.maNhanVien)
        </dd>

        <dt class="col-sm-2">
            <label>Họ và Tên</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.hoTen)
        </dd>

        <dt class="col-sm-2">
            <label>Địa chỉ</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.diaChi)
        </dd>

        <dt class="col-sm-2">
            <label>Số điện thoại</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.soDienThoai)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="maNhanVien" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Quay lại danh sách</a>
    </form>
</div>